:root {
  --primary-red: #ff3650;
  --hover-red: #ff5d72;
  --lightest-aqua: #effffc;
  --light-aqua: #92fdea;
  --primary-lime: #77ff5d;
  --primary-indigo: #7068ff;
  --light-navy: #ababdf;
  --lightest-navy: #e9e9ff;
  --medium-navy:#564FA1;
  --hover-navy: #6055E3;
  --primary-navy: #1b1932;
  --dark-indigo: #191382;
  --dark-navy: #02091e;
  --navy-overlay: #02091edb;
  --menu-speed: 0.75s;
  --ds-purple: #9A46D1;
  --ds-purple-light: #B87EDF;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}
html {
  font-size: calc(1rem + 1vw);
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Poppins', serif;
  background: var(--primary-navy);
  color: var(--lightest-aqua);
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  margin-block: 0px;
}
 p {
  font-weight: 400;
  font-family: 'open sans', sans-serif;
}
a {
  text-decoration: none;
  color: var(--primary-red);
  transition: color 0.3s ease;
  font-weight: 500;
}
a:hover {
  text-decoration: none;
  color: var(--hover-red);
}
li {
  list-style-type: none;
  list-style: none;
  padding-left: 0px;
}
i {
  padding-right: 2%;
}
.bold-list-text {
  font-family: 'Poppins', serif;
  font-weight: 600;
  color: var(--primary-indigo);
}
.button {
  font-size: 70%;
  text-align: center;
  border-radius: 20em;
  background: var(--medium-navy);
  padding: 2% 6%;
  color: white;
  display: inline-block;
  transition: background-color 0.7s ease;
  font-family: 'Poppins', serif;
}
.button:hover {
  background: var(--hover-navy);
  color: white;
}
#button-red {
  background: var(--primary-red);
  border: none;
}
#button-red:hover {
  background: var(--hover-red);
}

/*hero styles*/
.container {
  max-width: 70vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.showcase::before {
  content: '';
  background: url(images/banner.svg) no-repeat bottom center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60vh;
  z-index: -1;
}
.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.showcase h1 {
  color: var(--primary-lime);
}
.showcase p {
  color: var(--lightest-aqua);
  font-weight: 500;
}
#hero-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.showcase a {
  font-size: 80%;
  margin: 2%;
  flex: 1 2 20%;
  min-width: 180px;
}
/*menu styles*/
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  background: var(--navy-overlay);
}
.logo {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .25rem .5rem;
}
.logo i {
  padding-right: .5rem;
  color: var(--lightest-aqua);
}
.logo a {
  color: var(--primary-lime);
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  background: var(--navy-overlay);
  width: 200vw;
  height: 200vh;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 90vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: var(--lightest-aqua);
  transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li > a > i {
  color: var(--primary-red);
  padding-right: 1rem;
}
.button > i {
  color: var(--lightest-aqua) !important ;
}
/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
/*hamburger-line*/
.menu-wrap .hamburger > div {
  position: relative;
  width: 70%;
  height: 4px;
  border-radius: 4px;
  /* border-radius: 10%; */
  background-color: #fff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  transition: all 0.4s ease;
}
/*top and bottom hamburger lines*/
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: inherit;
}
/*move bottom hamburger lines*/
.menu-wrap .hamburger > div:after {
  top: 10px;
  width: 50%;
}
/*toggler animate*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/*make x*/
.menu-wrap .toggler:checked + .hamburger > div::before {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked + .hamburger > div::after {
  display: none;

}
/*rotate on hover*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/*section general styles*/
.section-heading {
  text-align: center;
  padding: 8% 3%;
}
.section-heading h2 {
  font-weight: 300;
  padding: 4% 0;
}
/*folio hl styles*/
#ux-highlight {
  background-image: url(images/swoosh-large-dark.svg);
  background-size: 300% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}
.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.ux-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 2 300px;
  min-width: 250px;
  padding: 3%;
  background-color: var(--dark-navy);

  text-align: left;
  transition: all .7s ease;
  scale: 1;
}
.ux-project:hover {
  background-color: var(--lightest-aqua);
  color: var(--dark-navy);
  scale: 1.05;
  z-index: 2;
}
.hl-image-group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hl-image-group img {
  width: 100%;
}
.hl-project-desc {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}
.hl-project-desc h3 {
  font-weight: 700;
  font-size: 90%;
  color: var(--primary-red);
}
.hl-project-desc p {
  font-size: 70%;
}
#pp-home {
  flex: 10 0 25%;
}
#dotcom-home {
  flex: 10 10 25%;
}
#nectar-home {
  flex: 10 10 25%;
}
#pp-home img {
  max-width: 500px;
}

/*about*/
#about {
  background-color: var(--dark-navy);
  padding-bottom: 4em;
  text-align: left;
  background-image: url(images/swoosh-large.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}
#about h4 {
  font-weight: 300;
  color: var(--primary-red);
  margin: 3% 0;
}
#about h5 {
  font-weight: 300;
  color: var(--primary-red);
  font-size: 100%;
  margin-bottom: 3%;
}
#about h6 {
  color: var(--primary-red);
  font-size: 80%;
  margin: .5rem 0;
}
#headshot-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8%;
}
#headshot {
  border-radius: 100%;
  flex: 1 1 275px;
  min-width: 200px;
  max-width: 350px;
  margin-right: 3%;
  border: 3px solid var(--medium-navy);
}
#name-title {
  display: flex;
  flex: 2 1 70%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 3% 0;
}
#headshot-heading h3 {
  font-weight: 700;
  color: var(--primary-lime);
}
.social-icons a {
  padding-top: .3%;
  color: var(--medium-navy);
  transition: color 0.4s ease;
}
.social-icons a:hover {
  color: var(--light-navy);
}
#headshot-heading p {
  font-size: 80%;
}
#headshot-heading h3 i {
  font-weight: 700;
  color: var(--lightest-aqua);
}
#name-title .button i {
  margin-left: 3%;
}
#name-title .button {
  margin-top: 3%;
  width: 50%;
}
/*skills*/
.icons {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 0;
  align-content: flex-start;
}
.icon-container {
  flex: 2 0 250px;
  min-width: 200px;
  scale: 1;
  padding: 2% 2% 2% 0;
  transition: all 0.3s ease;
}
.icon-container:hover {
  scale: 1.025;
}
.icons-container img {
  max-width: 200px;
  min-width: 100px;
}
.icons p {
  font-size: calc(.65rem + .25vmax);
}

/*footer*/
footer {
  width: 100vw;
  background-color: var(--dark-navy);
  padding: 3%;
  font-family: 'Poppins', serif;
}
footer a {
  color: var(--lightest-navy);
  text-align: left;
  width: 100%;
}
footer i {
  margin-right: 12px;
}
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: lighter;
}
#footer-top {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  font-size: 80%;
  margin-bottom: 2%;
}
#footer-contact {
  display: flex;
  justify-content: center;
  font-size: 70%;
}
#footer-contact a {
  color: var(--light-navy);
}
.footer-logo {
  color: var(--primary-lime);
  font-weight: bolder;
}
.footer-logo i {
  color: var(--lightest-aqua);
}

/*ux gallery styles*/
.sec-container {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.sec-showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.sec-showcase::before {
  content: '';
  background: url(images/uiux-banner.jpg) no-repeat top center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sec-showcase .sec-showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.sec-showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.sec-showcase h1 {
  color: var(--primary-lime)
}
.sec-showcase p {
  font-weight: 500;
}
.sec-showcase a {
  margin: 1rem;
}
.gallery-container {
  width: 100vw;
  margin: auto;
  background-color: white;
}
#dbl-button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
#dbl-button a {
  width: 45%;
}
.gallery-container h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark-navy);
  text-align: center;
  padding: 3% 0;
  background-color: var(--lightest-navy);
}
.gallery-container h3 {
  color: var(--primary-red);
}
.gallery-container p {
  font-size: 80%;
}
.image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
}
.gallery-item {
  display: flex;
  width: 100vw;
  padding: 4% 5% 0 5%;
}
.gallery-item > div {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.gal-img-container {
  display: flex;
  flex: 0 2 40%;
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0px auto;
}
.gal-img-container img {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}
.gallery-description {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  color: var(--primary-navy);
  align-self: center;
  margin: 3% 0 3% 3%;
}
.gallery-description h2 p {
  margin: 3% 0;
}
.gallery-description .button {
  margin: 3% 0;
  min-width: 150px;
}
.reverse-item {
  display: flex;
  width: 100vw;
  background-color: var(--primary-navy);
  padding: 4% 5% 0 5%;
}
.reverse-item > div {
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: center;
}
.reverse-description {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-self: center;
  margin: 3% 3% 3%0;
}
.reverse-description h2 p {
  margin: 3% 0;
}
.reverse-description .button {
  margin: 3% 0;
}
@media only screen and (max-width: 590px)  {
  .reverse-description, .gallery-description {
    text-align: center;
  }
  #dbl-button {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;
  }
  #dbl-button a {
    width: 100%;
  }
}

/* 10-21pp page */
.pp-container {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.pp-showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.pp-showcase::before {
  content: '';
  background: url(images/10-21pphero.jpg) no-repeat top center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.pp-showcase .pp-showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.pp-showcase .pp-showcase-inner img {
  height: 10%;
  margin-bottom: 3%;
}
.pp-showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.pp-showcase h1 {
  color: var(--primary-lime)
}
.pp-showcase p {
  font-weight: 500;
}
.pp-showcase a {
  margin: 1rem;
}
/*general/intro case study styles*/
.case-study {
  background: white;
  color: var(--dark-navy);
}
.dark-text-section {
  background: var(--dark-navy);
  color: white;
  padding: 3%;
}
.dark-text-section p {
  font-size: 70%;
}
.lt-navy-text-section {
  margin: 3%;
  padding: 3%;
  background: var(--lightest-navy);
}
.lt-navy-text-section p {
  font-size: 70%;
}
.lt-navy-text-section li {
  list-style-type: decimal;
  margin-left: 3%;
  font-size: 70%;
  margin-bottom: 3%;
}
.med-navy-text-section {
  background: var(--medium-navy);
  color: white;
  margin: 3%;
  padding: 3%;
}
.white-text-section {
  background: white;
  color: var(--dark-navy);
}
.white-text-section p {
  font-size: 70%;
}

/*spacer styles*/
.section-padding {
  padding: 0 8%;
}
.section-margin {
  margin: 0 8%;
}
.case-study p {
  line-height: 1.7;
}
.br {
  display: block;
  margin-bottom: 1%;
}
.brmedium {
  display: block;
  margin-bottom: 3%;
}
.brlarge {
  display: block;
  margin-bottom: 8%;
}
.vertbr {
  display: block;
  margin: 0 1%;
}
.vertbrmedium {
  display: block;
  margin: 0 3%;
}
.vertbrlarge {
  display: block;
  margin: 0 8%;
}

/* intro */
.case-study-intro {
  display: flex;
  color: var(--dark-navy);
  margin: 3% 0;
}
.case-study-intro h2{
  color: var(--primary-indigo);
}
.case-study-intro h3{
  color: var(--medium-navy);
  font-weight: 400;
}
.project-description {
  margin-right: 1rem;
} 
.project-description h3 {
  font-size:  70%;
} 
.project-description p {
  font-size:  60%;
} 
.project-details {
  min-width: 33vw;
}
.project-details h6 {
  color: var(--medium-navy);
}
.project-details p {
  font-size: 70%;
}
@media only screen and (max-width: 590px) {
  .case-study-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-navy);
    margin: 3% 0;
  }
  .project-description {
    margin-bottom: 1rem;
  }
}
/* what is 10-21? */
#what-is-app {
  display: flex;
  flex-wrap: nowrap;
  margin: 3% 0;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}
#what-is-app-contacts {
  display: flex;
  flex-wrap: nowrap;
  margin: 3% 0;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin-bottom: 3%;
}
/* case study intro */
#cs-problems {
  margin: 0 8%;
}
#cs-problems ol {
  font-family: 'Open Sans', sans-serif;
}
.cs-image-container {
  flex: 1 3 40%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3%;
  text-align: center;
}
.cs-image-container img {
  width: 70%;
  overflow: hidden;
  align-self: center;
  padding-bottom: 1rem;
}
.cs-image-container p {
  color: var(--dark-navy);
}
@media only screen and (max-width: 590px) {
  .cs-image-container p {
    font-size: 80%;
  }
}
/* exploration & research */
#cs-exploration {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3% 0;
  justify-content: stretch;
  align-items: stretch;
}
#cs-exploration-text {
  flex: 3 0 50%;
}
#cs-exploration-text ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 70%;
}
.cs-dbl-image-container {
  display: flex;
}
.cs-dbl-image-container div {
  overflow: hidden;
  height: 50vh;
  flex-grow: 1;
}
#cs-problems ol {
  font-size: 80%;
}
#what-is-app-contacts {
  display: flex;
  margin: 3% 0;
  flex-direction: row;
  align-items: center;
}
#what-is-app-contacts img {
  padding: 10%;
  max-width: 30vw;
}
@media only screen and (max-width: 590px) {
    #what-is-app {
      flex-direction: column;
    }
    .cs-image-container {
      padding-top: 2rem;
      max-width: 80vw;
    }
    .cs-dbl-image-container {
      flex-wrap: wrap;
    }
    .cs-dbl-image-container img {
      max-width: 100vw;
      max-height: 100vh;
    }
    .cs-dbl-image-container > div {
      display: flex;
      height: 50%;
      width: 100%;
      overflow: hidden;
    }
    .cs-dbl-image-container img {
      min-height: 100%;
      align-self: flex-start;
    }
    .cs-one-image-container {
      flex: 1 3 50%;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      max-width: 100%;
    }
    .cs-exploration > div {
      display: flex;
      height: 50%;
      width: 100%;
      overflow: hidden;
    }
    .cs-one-image-container img {
      width: 100%;
      align-self: flex-start;
      overflow: hidden;
    }
    #what-is-app-contacts {
      display: flex;
      flex-wrap: nowrap;
      margin: 3% 0;
      justify-content: space-between;
      align-content: center;
      flex-direction: column;
  }
  }
  /* persona section */
  #cs-persona-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  .cs-user-personas p {
    font-size: 70%;
  }
  .cs-persona-card {
    padding: 3%;
    margin: 3%;
    flex: 3 1 30%;
    background: var(--lightest-navy);
    border-radius: 1em;
    min-width: 300px;
  }
  .cs-persona-card > div {
    margin: 3% 0;
  }
  .cs-user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cs-user-profile img {
    margin-bottom: 8%;
    max-width: 120px;
    border-radius: 100%;
  }
  .cs-persona-card h4 {
    background: var(--dark-navy);
    color: var(--lightest-aqua);
    padding: 3%;
  }
  .cs-persona-card p {
    margin: 0;
  }
  #cs-persona-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    max-height: 500px;
  }
  #cs-persona-img-container div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 0 2 30%;
    max-height: 100%;
    align-self: flex-start;
    max-height: 500px;
    overflow: hidden;
  }
  #cs-persona-img-container img {
    min-width: 500px;
  }
  #cs-persona-img-container div:nth-child(2) {
    background: var(--dark-navy);
    color: var(--lightest-aqua);
    display: flex;
    flex: 2 0 70%;
    min-height: 100%;
    align-self: stretch;
  }
  #cs-persona-img-container p {
    font-size: 80%;
    padding: 8%;
    line-height: 1.4;
    margin: auto;
  }
  /* user response section */
  #cs-user-response {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0;
    justify-content: space-between;
    align-content: center;
  }
  #cs-user-response > div {
    display: flex;
  }
  #cs-response-list {
    flex: 2 1 50%;
    background: var(--light-aqua);
    padding: 3%;
    font-size: 70%;
    min-width: 300px;
  }
  #cs-response-list li {
    list-style-type: disc;
    margin-left: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
  }
  #cs-response-img-container {
    display: flex;
    flex: 1 2 40%;
  }
  #cs-response-img-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-self: center;
    justify-content: flex-end;
  }
  #cs-iteration-img-container {
    display: flex;
    flex: 1 2 40%;
  }
  #cs-iteration-img-container img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-self: center;
    justify-content: flex-end;
    box-shadow: 0px 4px 12px 4px var(--light-navy);
  }
  #iteration-heading p {
    font-size: 70%;
  }
  #cs-center-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media only screen and (max-width: 900px) {
  #cs-user-response {
    flex-direction: column;
  }
  #cs-response-list {
    width: 100%;
  }
  #cs-response-img-container img {
    padding-bottom: 2rem;
  }
}
/*feedback*/
@media only screen and (max-width: 590px) {
  .short-quote {
    font-size: 70%;
    min-width: 300px;
    margin: 3% 0;
  }
  .quote-section-two {
    flex-direction: column;
  }
  .quote-section-two span {
    display: none;
  }
  .vert-quote-img {
  display: flex;
  flex-direction: column-reverse;
  }
  .reverse-quote {
    display: flex;
    flex-direction: column-reverse;
  }
  .vert-quote-img div {
    margin-bottom: 0px;
  }
  .quote img {
    padding: 1%;
  }
}
.cs-feedback {
  margin: 3% 0;
}
.quote {
  color: white;
  background: var(--dark-navy);
  display: flex;
  flex-direction: column;
  padding: 3%;
  border-radius:.25rem;
  text-align: center;
}
.quote-section-two {
  display: flex;
}
.vert-quote-img {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: space-between;
}
.vert-quote-img img {
  width: 100%;
}
.wide-quote {
margin-bottom: 3%;
}
.wide-quote img {
  max-width: 60px;
  height: auto;
  align-self: center;
}
.short-quote {
  font-size: 50%;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 2;
}
.short-quote img {
  max-width: 60px;
  height: auto;
  align-self: center;
}
/* what we shipped */
.shipped-showcase {
  height: auto;
  min-height: 500px;
  position: relative;
  text-align: left;
  background: var(--primary-navy);
}
.shipped-container {
  width: 100vw;
  height: auto;
  overflow: hidden;
  background: url(images/10-21-shipped-bg.png) no-repeat bottom center/cover;
}
.shipped-showcase .shipped-showcase-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8%;
}
.shipped-showcase img {
  width: 100%;
}
.shipped-showcase h3 {
  color: var(--lightest-aqua);
}
.shipped-showcase p {
  color: var(--lightest-aqua);
  font-size: 70%;
}
#feature-container {
  display: flex;
  color: var(--lightest-aqua);
}
#feature-logos {
  display: flex;
  flex-direction: column;
  flex: 2 1 60%;
}
#feature-logos div {
  margin-right: 2rem;
}
#feature-logos p {
  padding-bottom: 5%;
}
#feature-image {
  flex: 1 2 40%;
  align-self: flex-end;
}
#feature-logos > div {
  display: flex;
  flex-direction: column;
}
#logo-container {
  display: flex;
  width: 100%;
  max-height: 5rem;
  margin-bottom: 2%;
}
#feature-logos img {
  height: 100%;
  width: 50%;
}
#shipped-simple {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 590px) {
  #feature-container {
    display: flex;
    flex-direction: column-reverse;
  }
  #logo-container {
    display: flex;
    height: 1rem;
    min-height: 20px;
  }
  #feature-logos img {
    display: flex;
    height: 1rem;
    min-height: 20px;
    width: auto;
    margin: 0;
  }
  .shipped-showcase .shipped-showcase-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
  }
  .shipped-showcase img {
    width: 80vw;
    margin: 0;
  }
  #feature-logos p {
  padding-bottom: 1rem;
  }
  .shipped-showcase h3 {
    font-size: 1rem;
    text-align: center;
  }
  #feature-image {
    display: flex;
    flex: 1 1 1;
    align-self: center;
    margin: 0 0 1rem 0;
    width: 80vw;
  }
  #feature-logos > div {
    margin: 0;
  }
}

/* wrap up */
.wrap-up {
  background: var(--primary-navy);
  color: var(--lightest-aqua);
  padding: 5vw 0;
}
.wrap-up p {
  font-size: 70%;
}
.image-row {
  display: flex;
  justify-content: space-between;
}
.image-row > div {
  width: 15%;
}

.image-row img {
  width: 100%;
}

/*purple span*/
#ds-purple {
  color: var(--ds-purple)
}
#ds-purple-light {
  color: var(--ds-purple-light)
}

/*purple case study*/
.purple-container {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.purple-showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.purple-showcase::before {
  content: '';
  background: url(images/upside-purple-hero.jpg) no-repeat top center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.purple-showcase .purple-showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.purple-showcase .purple-showcase-inner img {
  height: 10%;
  margin-bottom: 3%;
}
.purple-showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.purple-showcase h1 {
  color: var(--primary-lime)
}
.purple-showcase p {
  font-weight: 500;
}
.purple-showcase a {
  margin: 1rem;
}
.purple-shipped-container {
  width: 100vw;
  height: auto;
  overflow: hidden;
  background: url(images/upside-ds-shipped-bg.png) no-repeat bottom center/cover;
}
/*policy*/
.policy-container {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.policy-showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.policy-showcase::before {
  content: '';
  background: url(images/upside-policyhero.png) no-repeat top center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.policy-showcase .policy-showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.policy-showcase .policy-showcase-inner img {
  height: 10%;
  margin-bottom: 3%;
}
.policy-showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.policy-showcase h1 {
  color: var(--primary-lime)
}
.policy-showcase p {
  font-weight: 500;
}
.policy-showcase a {
  margin: 1rem;
}
/*policy shipped*/
.policy-shipped-showcase {
  height: auto;
  min-height: 500px;
  position: relative;
  text-align: left;
  background: var(--primary-navy);
}
.policy-shipped-container {
  width: 100vw;
  height: auto;
  overflow: hidden;
  background: url(images/upside-shippedbg.png) no-repeat bottom center/cover;
}
.policy-shipped-shipped-showcase .policy-shipped-showcase-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8%;
}
.policy-shipped-showcase img {
  width: 100%;
}
.policy-shipped-showcase h3 {
  color: var(--lightest-aqua);
}
.policy-shipped-showcase p {
  color: var(--lightest-aqua);
  font-size: 70%;
}
#policy-shipped-simple {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.policy-shipped-showcase a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
  text-align: center;
  text-decoration: underline;
  color: var(--primary-lime);
  padding-left: 10%;
}
.policy-shipped-showcase img {
  padding-left: 10%;
}
.policy-shipped-showcase li {
  list-style-type: initial;
  font-weight: 300;
  font-size: 70%;
}
/*mobile apps*/
.mapp-container {
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  padding: calc(1vmax + -1vmin);
}
.mapp-showcase {
  height: 50vmax;
  min-height: 500px;
  position: relative;
}
.mapp-showcase::before {
  content: '';
  background: url(images/upside-app-hero.png) no-repeat top center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.mapp-showcase .mapp-showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: calc(1vmax + -1vmin);
}
.mapp-showcase .mapp-showcase-inner img {
  height: 10%;
  margin-bottom: 3%;
}
.pmappp-showcase h1 i {
  color: var(--lightest-aqua);
  padding-right: 1rem;
}
.mapp-showcase h1 {
  color: var(--primary-lime)
}
.mapp-showcase p {
  font-weight: 500;
}
.mapp-showcase a {
  margin: 1rem;
}
/*intro**/
.skip-to-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.skip-to-section div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 44px;
}
.skip-to-section a {
  text-decoration: underline;
  font-size: 50%;
  color: var(--primary-indigo);
  line-height: 1.7;
}
.skip-to-section h6 {
  font-size: 50%;
  color: var(--primary-indigo);
  line-height: 1.7;
}
/*cancelation-result*/
.cancel-user-flow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cancel-user-flow img {
  box-shadow: 0px 4px 12px 4px var(--light-navy);
  background-color: #E5E5E5;
  margin-bottom: 1rem;
}
.feature-section-heading h3 {
  color: var(--primary-indigo);
}
.iteration-heading h4 {
  text-align: center;
  color: var(--primary-indigo);
}
.iteration-heading p {
  text-align: center;
  font-size: 70%;
}
#image-gif {
  display: flex;
  justify-content: space-around;
}
.cs-challenges p {
  font-size: 70%;
}
.cs-challenges ul {
  font-size: 60%;
  font-family: 'Open Sans', sans-serif;
}
#cancel-flow-img {
  display: flex;
  flex: 2 3 auto;
  justify-content: flex-start;
}
#cancel-flow-gif {
  display: flex;
  flex: 3 2 auto;
  justify-content: flex-end;
}
#cancel-flow-img img {
  flex: 2 3 auto;
  padding: 0;
  margin: 0;
}
#cancel-flow-gif img {
  padding: 0;
  margin: 0;
}
.feature-subsection-heading {
  width: 50%;
  text-align: center;
  margin: auto;
}
.feature-subsection-heading p {
  font-size: 70%;
}