:root {
  --primary-red: #ff3650;
  --light-red: #ffc2ca;
  --lightest-red: #ffecee;
  --light-aqua: #b8fff0;
  --lightest-aqua: #e5fff9;
  --primary-aqua: #2BFFD2;
  --light-lime: #c3ffb8;
  --lightest-lime: #e7ffe3;
  --primary-lime: #77ff5d;
  --primary-indigo: #a568ff;
  --light-indigo: #dac2ff;
  --lightest-indigo: #f3ecff;
  --light-navy: #babac1;
  --lightest-navy: #e9e9eb;
  --medium-navy: #413C7A;
  --primary-navy: #1b1932;
  --dark-red: #5d1328;
  --dark-aqua: #0d6a79;
  --dark-lime: #145e4a;
  --dark-indigo: #311382;
  --dark-navy: #02091e;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background: var(--primary-navy);
  color: var(--lightest-aqua);
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin-block: 0px;
  line-height: 100%;
}
a {
  text-decoration: none;
}
.section-heading {
  text-align: center;
  padding: 0 8vw;
}
.section-heading h2 {
  font-size: 3em;
  font-weight: 300;
  padding: 1em 0;
}
.button {
  border-radius: 20em;
  background: var(--medium-navy);
  padding: .5em 1em;
  color: white;
}

#button-red {
  background: var(--primary-red);
  border: 3px solid var(--primary-red);
}

/*nav stuff*/
nav {
  position: sticky;
  top: 2em;
  left: 0px;
  display: flex;
  justify-content: space-between;
  margin: 2em;
  z-index: 200;
}
nav a {
  padding: 0px 1em;
  color: var(--light-aqua);
}
i {
  margin-right: .5em;
}

/*hero banner*/
#hero {
  background-image: url(images/banner.svg);
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -10vh;
}

#spots {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  width: 100vw;
  opacity: .5;
  text-align: center;
}
#hero-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}
/*button div*/
#hero-buttons {
  display: flex;
  justify-content: center;
}
#hero-buttons a {
  display: block;
  width: 15vw;
  margin: 0 1em;
  }
/*hero font styles*/
#hero-text h1 {
  color: var(--primary-lime);
  font-size: 4em;
}
#hero-text p {
  font-size: 1.5em;
  margin-block-start: 1em;
}
#hero-text i {
  color: var(--light-aqua);
}

/*project highlights*/
#ux-highlight {
  padding-bottom: 4em;
}
.projects {
  display: flex;
  justify-content: space-around;
  width: auto;
}
.ux-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20em;
  padding: 1em;
  background-color: var(--dark-navy);
  border-radius: 1em;
}
.hl-image-group {
  margin-bottom: 2em;
  margin-top: -6em;
}
.hl-image-group img {
  width: 20em;
}
.hl-swoosh {
  height: 6em;
  position: relative;
  bottom: -21em;
}
.ux-project h3 {
  font-weight: 700;
  font-size: 1.75em;
}
.ux-project p {
  margin-top: 0.5em;
  color: var(--light-navy);
}

/**about*/
#about {
  background-color: var(--dark-navy);
  padding-bottom: 4em;
  text-align: left;
  background-image: url(images/swoosh-large.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

#headshot {
  border-radius: 100%;
  width: 25vw;
  margin-right: 1em;
  border: 3px solid var(--medium-navy);
}
#headshot-heading {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}
#headshot-heading h3 {
  font-weight: 700;
  font-size: 3em;
}
#headshot-heading h4 {
  font-weight: 300;
  color: var(--primary-red);
  font-size: 2em;
}
#name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
#about p {
  margin-block-end: 0px;
  color: var(--light-navy);
}
#about h4 {
  font-weight: 300;
  color: var(--primary-red);
  font-size: 2em;
  margin: .5em 0;
}

.social-icons a {
  font-size: 2em;
  padding-top: .25em;
  color: var(--light-navy);
}
/*experience*/
#experience-section {
  display: flex;
  justify-content: space-between;
}
#experience-item-callyo {
  display: flex;
  align-items: center;
  background: var(--primary-navy);
  padding: 2em;
  border-radius: 1em;
  background-image: url(images/swoosh-experience.svg);
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
  margin-top: 2em;
}
.experience-item {
  width: 20vw;
  justify-content: space-between;
  background: var(--primary-navy);
  padding: 2em;
  border-radius: 1em;
  margin: 2em 0;
  background-image: url(images/swoosh-navy.svg);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
}

#experience-item-callyo h6 {
  font-weight: 300;
  color: var(--primary-red);
  font-size: 1.5em;
  margin: .5em 0;
}
.experience-item h6 {
  font-weight: 300;
  color: var(--primary-red);
  font-size: 1.5em;
  margin: .5em 0;
}
.experience-sublist {
  list-style-type: none;
}
/*skills*/
.icons {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  text-align: center;
}
.icons img {
  width: 6vw;
}
.icons h6 {
  font-size: 1em;
  padding-top: 1em;
}
.icon-container {
  display: block;
  width: 12vw;
}

/*footer*/
footer {
  padding: 4em;
  background-color: var(--dark-navy);
}
footer a {
  color: var(--light-navy);
}
#footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
#footer-left a {
padding-right: 1.5em;
}
#footer-right a {
  padding-left: 1.5em;
  }
#footer-contact {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}
#footer-contact a {
  color: var(--medium-navy);
}